/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff8f2;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #e76f00;
    font-size: 24px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ffcba4;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #e76f00;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="tel"],
form input[type="url"],
form input[type="number"],
form input[type="color"],
form input[type="range"],
form input[type="datetime-local"],
form input[type="month"],
form input[type="time"],
form input[type="week"],
form input[type="search"] {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ffaf70;
    border-radius: 4px;
    background-color: #fffdfa;
}

form input[type="radio"],
form input[type="checkbox"] {
    margin-right: 8px;
}

form p {
    margin: 15px 0 8px;
    color: #202020;
    font: weight 70px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e76f00;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #cc6000;
}
